{% extends "base.html.twig" %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-info">Add film</button>
    </p>
    {{ form_end(form) }}

{% endblock %}