$bgNav: #EC008C;


body {
    background-color: dimgray;
}

.bg-perso{
    background-color: $bgNav;
}

h1{
    color: greenyellow;
}

a{
    text-decoration: none;
    color: aquamarine;
}

a:hover{
    color: aqua;
}

